
/* Navbar container */
.navbar {
 overflow: hidden;
 background-color: white;
 font-family: 'Times New Roman', Times, serif;
}

/* Links inside the navbar */
  float: left;
  font-size: 17px;
  color: #333;
  text-align: center;
  padding: 3px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  outline: none;
  color: #333;
  padding: 9px 12px;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

/* Background color on the hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(219, 217, 217);
}

/* Background color to dropdown link on hover */
.dropdown-content a:hover {
  background-color: rgb(223, 217, 217);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-block;
}

/* Logo */
.logo {
  text-align: left;
}

.head-pic {
 padding-top: 1.5pc;
}